{{ define "title" }} Login {{ end }}

{{ define "main" }}
   <form action="/login" method="POST">
     <div class="">
        <label>
           Email:
           <input type="email" name="email" value="{{ .Form.Email }}" minlength="10" maxlength="254" required>
        </label>
     </div> 
     <div class="">
        <label>
           Password:
           <input type="password" name="password" value="{{ .Form.Password }}" minlength="8" required>
        </label>
     </div> 
     <div class="">
        <label>
           <input type="checkbox" name="password" value="{{ .Form.RememberMe }}" minlength="8">
           Remember me
        </label>
     </div> 
     <div class="">
        <button type="submit">Login</button>
     </div> 
   </form>
{{ end }}
